<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>FLVS Course Popup</title>
<script>
	var isexternal = true; // Loads External Assets
</script>
<script src="../../../global/js/settings.js" id="settingJS"></script>
</head>

<body>

<div id="externalContent">
<!-- PLACE CONTENT HERE -->
	<h2>Popup Title</h2>
    <hr/>
	<p>
    
    
   
    </p>
    
    <hr/>
    <a href="javascript:print();" class="print">Print</a>
    
    <!-- only required if external popup -->
    <a href="javascript:window.close();" class="page-close">Close</a>
    <!-- end-->
<!-- END CONTENT -->
</div>

</body>
</html>
